.title,
.container {
    background-color: #b8b8b8;
    border: 3px solid #505050;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-bottom: none;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: space-between;
    border-top: none;
    padding: 0 20px 20px;
}
